extends ../../../views/layout

block content
	div(ng-controller="AppItems")
		top-items
		//- div=items.length
		//- ol
		//- 	each item,i in items
		//- 		li
		//- 			p #{item.name}
		//- 			p #{item.price} руб.
		//- 			p #{item.total_quanity} шт.
		//- 			div
		//- 				each purchase in item.purchases
		//- 					ul
		//- 						li #{purchase.date}
		//- 						li #{purchase.department}
		//- 						li #{purchase.quanity}